<div class="row">
    <div data-controller="toggle" class="mt-5">
      <button class="btn btn-outline-primary">Réserver !!</button>
        <%= simple_form_for [tank, reservation] do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit %>
        <% end %>
      </div>
  </div>
