<div class="row">
  <%= simple_form_for [tank, reservation] do |f| %>
    <%= f.input :end_date %>
    <%= f.input :start_date %>
    <%= f.submit value: "Réserver", class: "btn btn-primary"%>
  <% end %>
</div>
