<div class="btn-retour">
<%= link_to "Acceuil", root_path %>
</div>
<div class="title_tanks">
  <h1>Tanks</h1>
</div>

<ul>
  <% @tanks.each do |tank| %>
    <li><%= link_to tank.name, tank_path(tank) %></li>
  <% end %>
</ul>
