
<!DOCTYPE html>
<html lang="en">
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <img src="White_and_Gold_Vintage_Monogram_Logo-removebg-preview.png" alt="Logo" class="img-fluid">
      </div>
      <div class="col-8 text-center">
        <h3>Tanks</h3>
        <h3>Chars</h3>
      </div>
      <div class="col-2 text-end">
        <img src="White_and_Gold_Vintage_Monogram_Logo-removebg-preview.png" alt="Profil" class="img-fluid">
      </div>
    </div>


    <div class="row mt-4">

      <div class="col-4">
        <div class="card">
          <img src="/path/to/your/product1.jpg" class="card-img-top" alt="Product 1">
          <div class="card-body">
            <h5 class="card-title">Nom du produit 1</h5>
            <p class="card-text">Description du produit 1</p>
            <p class="card-text">Note du produit 1</p>
            <p class="card-text">Prix du produit 1</p>
          </div>
        </div>
      </div>


      <div class="col-4">
        <div class="card">
          <img src="/path/to/your/product2.jpg" class="card-img-top" alt="Product 2">
          <div class="card-body">
            <h5 class="card-title">Nom du produit 2</h5>
            <p class="card-text">Description du produit 2</p>
            <p class="card-text">Note du produit 2</p>
            <p class="card-text">Prix du produit 2</p>
          </div>
        </div>
      </div>

   
      <div class="col-4">
        <div class="card">
          <img src="/path/to/your/product3.jpg" class="card-img-top" alt="Product 3">
          <div class="card-body">
            <h5 class="card-title">Nom du produit 3</h5>
            <p class="card-text">Description du produit 3</p>
            <p class="card-text">Note du produit 3</p>
            <p class="card-text">Prix du produit 3</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
