// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.custom-background {
  background-image: url('https://img.pixers.pics/pho_wat(s3:700/FO/57/98/49/92/700_FO57984992_ec8f3cf85bd60b3b2816ecacdd551137.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/posters-camouflage-militaire.jpg.jpg');
  background-size: cover;
  z-index: -1;
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.4;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

html {
  position: relative;
}

.card-img-container {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

body, h1, h2, h3 {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.index-title {
  color:rgb(189, 161, 0)
}

.taille-gif {
  width: 300px;
  height: auto;
}
.taille-btn a.btn {
  font-size: 50px;
}
